<section class="about--section">
    <div class="mt-container">
        <div class="mt-about-data">
            <div>
                <h4 class="mt-cursive-title">Who We Are</h4>
                <h1 class="mt-style-title">About Jamborow</h1>
                <p class="mt-p-data">
                    Jamborow is <span class="mt-regular">Africa’s first B2B AI and Blockchain driven fintech platform</span> focused on <span class="mt-regular">financial inclusion</span> and <span class="mt-regular">grassroot empowerment</span>.
                </p>
                <p class="mt-p-data-2">
                    Having started life as a start-up Fintech that has quickly developed into a multifaceted economy for the unbanked and underbanked Ecosystem whereby we are able to directly impact on changing lives of the lower income and rural communities within Africa
                </p>
                <a class="uk-width-1-1@m uk-text-center" href="#">
                    <h3 class="mt-lucky">Read More</h3>
                </a>
            </div>
        </div>
    </div>
</section>