<footer>
    <div class="mt-container">
        <div class="mt-top-footer">
            <div class="mt-about-sect">
                <h3 class="mt-lucky mt-white">
                    About Jamborow
                </h3>
                <p>
                    Jamborow is Africa’s first B2B AI and Blockchain driven fintech platform focused on financial
                    inclusion and grassroot empowerment.
                </p>
            </div>
            <div class="mt-info-sect">
                <h3 class="mt-lucky mt-white">
                    Information
                </h3>
                <ul class="uk-list">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li>
                        <a href="#">Articles</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="mt-support-sect">
                <h3 class="mt-lucky mt-white">
                    Support
                </h3>
                <ul class="uk-list">
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </div>
            <div class="mt-actions-sect">
                <h3 class="mt-lucky mt-white">
                    Actions
                </h3>
                <ul class="uk-list">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">Get Android</a>
                    </li>
                    <li>
                        <a href="#">Get IOS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-sub-footer">
            <img src="assets/img/logo.png" alt="">
            <p> &copy; 2020 Copyrights by Jamborow. All Rights Reserved </p>
        </div>
    </div>
</footer>