<header>
    <div class="mt-container">
        <div class="mt-main-header-content">
            <div class="mt-header-writeup">
                <div>
                    <h1 class="heading1">Jamborow</h1>
                    <h1 class="heading4">
                        Africa’s First Inclusive <br>
                        & Intelligent Fintech Platform
                    </h1>
                </div>
            </div>
            <div class="mt-header-pattern-design">
                <img class="mt-header--pattern" src="assets/img/pattern.svg" uk-svg alt="">
                <a href="#">
                    <img class="header-play-btn" src="assets/img/play_btn.svg" uk-svg alt="">
                </a>
            </div>
        </div>
    </div>
</header>