<section class="mt-newsletter">
    <div class="mt-container">
        <div class="mt-form-text">
            <h2 class="mt-title mt-white">
                Feel Free To Reach Out  with
                Your Email or using any of our
                Social Media handles
            </h2>
            <div class="mt-newsletter-form">
                <input type="text" placeholder="Enter Your Email">
                <button>
                    <img src="assets/img/plane.svg" alt="">
                    <span>Subscribe</span>
                </button>
            </div>
        </div>
        <div class="mt-social-cards">
            <a href="#" class="mt-social-card facebook">
                <img src="assets/img/facebook.svg" alt="">
                <p>Facebook</p>
            </a>
            <a href="#" class="mt-social-card twitter">
                <img src="assets/img/twitter.svg" alt="">
                <p>Twitter</p>
            </a>
            <a href="#" class="mt-social-card linkedin">
                <img src="assets/img/linkedin.svg" alt="">
                <p>LinkedIn</p>
            </a>
            <a href="#" class="mt-social-card instagram">
                <img src="assets/img/instagram.svg" alt="">
                <p>Instagram</p>
            </a>
        </div>
    </div>
</section>