<section class="problem--solution">
    <div class="mt-container">
        <div class="mt-problem uk-width-1-2@m">
            <h1 class="mt-roch mt-title mt-white">The Problem</h1>
            <ul class="uk-list uk-list-bullet uk-list-large">
                <li>Massive unbanked population in Africa not included in the financial sector. 65% of the population are unbanked.</li>
                <li>No insight and data-driven science around lending to attract big money for micro lenders.</li>
                <li>Banks cannot service this space.</li>
                <li> Micro lenders, micro saving schemes and cooperatives are not automated, and can’t scale effectively.</li>
                <li>  Peer-to-peer lenders (diaspora, individual lenders, etc.) do not have a platform to operate.</li>
            </ul>
        </div>
        <div class="mt-solution uk-width-1-2@m">
            <div class="mt-sol-bg">
                <h1 class="uk-margin-small-left mt-roch mt-title">Our Solution</h1>
                <ul class="uk-list uk-list-bullet uk-list-small">
                    <li>Intelligent Lending platform</li>
                    <li>A diversified borrower base with unbanked/underbanked merchants, artisan, workers, students, e.t.c</li>
                    <li>Competitive professional lender network with established lenders providing value-added services</li>
                    <li> A network of competitive and cheap funding sources providing lending capital</li>
                    <li> Codified incentives and processes to encourage provide a higher rate of repayment.</li>
                </ul>
            </div>
        </div>
        <a href="#">
            <h3 class="mt-lucky uk-margin-remove mt-white">Learn More</h3>
        </a>
    </div>
</section>